/* .blog__filter-item {}

.blog__filter-item.is-active {} */
.blog-card__caption .text-body {
  display: -webkit-box;
  -webkit-line-clamp: 2;  
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-radio__background {
  transition: all 0.3s ease;
  opacity: 1;
}

.blog-radio__hover {
  transition: all 0.3s ease;
  opacity: 0;
}

.blog_radio-button:checked ~ .blog-radio__background {
  opacity: 0;
}

.blog_radio-button:checked ~ .blog-radio__hover {
  opacity: 1;
}

.blog_radio-field.is-active .blog-radio__background {
  opacity: 0;
}

.blog_radio-field.is-active .blog-radio__hover {
  opacity: 1;
}

@media (min-width: 480px) {

  .limited-list .w-dyn-item:nth-child(n+4) {
    display: none !important;
  }

@media (max-width: 479px) {
  .limited-list .w-dyn-item,
  .blog-wrapper.w-dyn-items > .w-dyn-item {
    display: flex; 
  }
}
/* @media only screen and (min-width: 992px) {
  .blog_item:nth-child(4) {
    grid-column: span 3;
  }
} */
